* {
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}
/*----------------responsive for small devices---------------------*/

/*----------------responsive for medium devices---------------------*/

/*----------------responsive for large devices---------------------*/